doctype html
html
  head
    title=title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial=scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-faded(role="navigation")
      button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent", aria-expanded="false" aria-label="Toggle Navigation")
        span.navbar-toggler-icon
      a.navbar-brand(href="/") Week 2 Project
      div.collapse.navbar-collapse(id="navbarSupportedContent")
        ul.navbar-nav.mr-auto
          each item in navitems
            li.nav-item(class=title==item.content?'active':undefined)
              a.nav-link(href=item.link)=item.content
    block content
